html, body, #root {
  height: 100vh;
  background-image: linear-gradient(135deg, #e9f0f9 0%, #d4e3f7 100%);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(135deg, #e9f0f9 0%, #d4e3f7 100%);
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(135deg, #e9f0f9 0%, #d4e3f7 100%);
}

main {
  flex: 1;
}